div
{
    overflow:scroll;


}
table {
    overflow-x: scroll;
}
img {
    height: 100px;
    width: 100px;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}