<div *ngIf="empty" style="text-align:center">
    <div>Add New Users</div>
    <a routerLink="/users/create"><img src="assets/images/add.png"></a></div>
<div *ngIf="!empty">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Job</td>
            <td colspan="1">Resume</td>
            <td colspan="2">Actions</td>
        </tr>
        </thead>
      
        <tbody>
            <tr *ngFor="let business of businesses">
                <td>{{ business.Name }}</td>
                <td>{{ business.Phone }}</td>
                <td>{{ business.Email }}</td>
                <td>{{ business.Job }}</td>
                <td colspan="1" ><a style="word-wrap:break-word" routerLink="/static/{{business.Resume}}" target="_blank" >Download</a></td>
      
                <td><a [routerLink]="['edit', business._id]" class="btn btn-primary">Edit</a>&nbsp;&nbsp;<a (click) = "deleteBusiness(business._id)" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
      </table>
</div> 